body{
    padding-top: 80px;
}

.top-margin-5 {
  margin-top:5px;
}

.top-margin-2 {
  margin-top:5px;
}

.answer-offset{
  margin-left: 3%;
}

.list-group-item {
    display: list-item;
}

.left-margin-5{
  margin-left: 5px;
}
