<form action="/signup" method="POST">
  <p>
    Name: <input type="text" name="user[name]" placeholder="Type your name here">
  </p>
  <p>
   Email: <input type="text" name="user[email]" placeholder="Type your email here">
 </p>
 <p>
   Password: <input type="password" name="user[password]" placeholder="Type password here">
 </p>
 <p>
   Confirm Password: <input type="password" name="user[password_confirmation]" placeholder="Confirm password">
 </p>
 <p>
  <input type="submit" value="Signup">
</form>
