<div class="col-md-offset-4 col-md-4">
  <div class="starter-template">
          <h1>squirrvey.</h1>
          <p class="lead">Welcome to Squirrvey<br>
            <br>
             <a href="/surveys/all">Take a Squirrvey</a></p>
          <p class="lead"><a href="/surveys/new">Make a Squirrvey</a></p>
  </div>
</div>
